@charset "UTF-8";

/* header */
header{width: 100%; margin: 0 auto;}
.headerWrap{width: 1240px; margin: 0 auto;  }

.headerWrap .logo img {  float: left; padding:50px }
.headerWrap ul {display: flex; justify-content: center; align-items:center; height: 180px;}
.headerWrap ul li{margin:0 auto;}
.headerWrap a { display:block; line-height:35px; font-size:14.5px;}

.ticon li { float: right;}
